body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

#root {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #ff3f6c;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.label-file {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff3f6c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ff3f6c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e63650;
}
